.container {
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.title {
    margin: 5%;
    font-size: 3rem;
}

.subtitle-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 10%;
    background-color: black;
    border-radius: 20px;
    font-size: 1.5rem;
}

.button {
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    margin: 2%;
    font-size: 1rem;
}

.button:hover {
    background-color: black;
    color: white;
}